# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cuda_by_example/
.gitattributes
pearsonCorrelationPolimiComparison/PearsonPolimiVersion/PearsonPolimiVersion/data/
pearsonCorrelationPolimiComparison/PearsonPolimiVersion/PearsonPolimiVersion/x64/
pearsonCorrelationPolimiComparison/PearsonPolimiVersion/x64/
pearsonCorrelationPolimiComparison/PearsonPolimiVersion/PearsonPolimiVersion/logs/
pearsonCorrelationPolimiComparison/PearsonPolimiVersion/PearsonPolimiVersion/PearsonPolimiVersion.vcxproj
pearsonCorrelationPolimiComparison/PearsonPolimiVersion/PearsonPolimiVersion/Debug/kernel.cu.deps
pearsonCorrelationPolimiComparison/PearsonPolimiVersion/PearsonPolimiVersion.opensdf
pearsonCorrelationPolimiComparison/PearsonPolimiVersion/PearsonPolimiVersion.sdf
pearsonCorrelationPolimiComparison/PearsonPolimiVersion/PearsonPolimiVersion.sln
pearsonCorrelationPolimiComparison/PearsonPolimiVersion/PearsonPolimiVersion/Debug/
pearsonCorrelationPolimiComparison/
imageProcessing/GIF_resting_state/
imageProcessing/GIF_verb_generation/
imageProcessing/GIF_resting_state_results/
imageProcessing/data_extracted/
